<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ZigWheels Automation Suite" parallel="classes" thread-count="16">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="ZigWheels Regression Tests">

        <classes>

            <!-- Electric Cars -->
            <class name="org.zigwheels.tests.electriccars.TC_1ElectricCars_CategoryFlow"/>
            <class name="org.zigwheels.tests.electriccars.TC_2ElectricCars_CoreContent"/>
            <class name="org.zigwheels.tests.electriccars.TC_3ElectricCars_DuplicateNameValidation"/>
            <class name="org.zigwheels.tests.electriccars.TC_4ElectricCars_PriceIntegrity"/>
            <class name="org.zigwheels.tests.electriccars.TC_5ElectricCars_BudgetFilterValidation"/>

            <!-- Scooters -->
            <class name="org.zigwheels.tests.scooters.TC_6_ScootersDropdownTest"/>
            <class name="org.zigwheels.tests.scooters.TC_7_SequentialScootersNavigationTest"/>

            <!-- Upcoming Bikes -->
            <class name="org.zigwheels.tests.upcomingBikes.TC_1GetUrl"/>
            <class name="org.zigwheels.tests.upcomingBikes.TC_2BikesUnder5lkhs"/>

            <!-- Used Cars -->
            <class name="org.zigwheels.tests.usedcars.TC_21UsedCars_ValidateChennaiLocation"/>
            <class name="org.zigwheels.tests.usedcars.TC_22UsedCars_ValidatePriceFilter"/>
            <class name="org.zigwheels.tests.usedcars.TC_23UsedCars_ValidateSortLowToHigh"/>
            <class name="org.zigwheels.tests.usedcars.TC_24UsedCars_ValidateResetFilterTest"/>

        </classes>

    </test>

</suite>