<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ZigWheels Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test name="ZigWheels Tests">
            <packages>
                <package name="org.zigwheels.tests.cng"/>
                <package name="org.zigwheels.tests.electriccars"/>
                <package name="org.zigwheels.tests.scooters"/>
                <package name="org.zigwheels.tests.upcomingBikes"/>
                <package name="org.zigwheels.tests.usedcars"/>
            </packages>
    </test>
</suite>