<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ZigWheels Automation Suite" parallel="false">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test name="01 - CNG Tests">
        <classes>
            <class name="org.zigwheels.tests.cng.TC_1CngCarsNavigationTest"/>
            <class name="org.zigwheels.tests.cng.TC_2CngCarsPriceRangeTest"/>
            <class name="org.zigwheels.tests.cng.TC_3CngCarsEmiRangeTest"/>
            <class name="org.zigwheels.tests.cng.TC_4CngCarLowCostCity"/>
            <class name="org.zigwheels.tests.cng.TC_5CngCarRatingGreater4"/>
        </classes>
    </test>

    <test name="02 - Electric Cars Tests">
        <classes>
            <class name="org.zigwheels.tests.electriccars.TC_6ElectricCars_CategoryFlow"/>
            <class name="org.zigwheels.tests.electriccars.TC_7ElectricCars_CoreContent"/>
            <class name="org.zigwheels.tests.electriccars.TC_8ElectricCars_DuplicateNameValidation"/>
            <class name="org.zigwheels.tests.electriccars.TC_9ElectricCars_PriceIntegrity"/>
            <class name="org.zigwheels.tests.electriccars.TC_10ElectricCars_BudgetFilterValidation"/>
        </classes>
    </test>

    <test name="03 - Scooters Tests">
        <classes>
            <class name="org.zigwheels.tests.scooters.TC_11ScootersDropdownTest"/>
            <class name="org.zigwheels.tests.scooters.TC_12SequentialScootersNavigationTest"/>
            <class name="org.zigwheels.tests.scooters.TC_13ValidateScootersUnder40000PriceFilter"/>
            <class name="org.zigwheels.tests.scooters.TC_14ValidateTVSBrandScootersTest"/>
            <class name="org.zigwheels.tests.scooters.TC_15SearchTVSJupiterUsingDropdown"/>
        </classes>
    </test>

    <test name="04 - Upcoming Bikes Tests">
        <classes>
            <class name="org.zigwheels.tests.upcomingBikes.TC_16GetUrl"/>
            <class name="org.zigwheels.tests.upcomingBikes.TC_17BikesUnder5lkhs"/>
            <class name="org.zigwheels.tests.upcomingBikes.TC_18HondaManufacturer"/>
            <class name="org.zigwheels.tests.upcomingBikes.TC_19ValidateEVBikes"/>
            <class name="org.zigwheels.tests.upcomingBikes.TC_20ElectricBikesUnder50K"/>
        </classes>
    </test>

    <test name="05 - Used Cars Tests">
        <classes>
            <class name="org.zigwheels.tests.usedcars.TC_21UsedCars_ValidateChennaiLocation"/>
            <class name="org.zigwheels.tests.usedcars.TC_22UsedCars_ValidateScrollAndSearch"/>
            <class name="org.zigwheels.tests.usedcars.TC_23UsedCars_ValidateSortDropdown"/>
            <class name="org.zigwheels.tests.usedcars.TC_24UsedCars_ValidateResetFilterTest"/>
            <class name="org.zigwheels.tests.usedcars.TC_25UsedCars_ExtractPopularModels"/>
        </classes>
    </test>

</suite>